h2 {
	font-size: 15px;
       	font-family: Bahnschrift;
       	color: #FA8072;
   }
h1 {
	font-size: 20px;
		font-family: Arial;
		color: #DC143C;
		text-align: center;
        background-color: ;
    }
h5 {
	color: #800080;
    }
.zagl {
	font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
      }
